@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body, html, :root {
    width: 100%;
    height: 100dvh;
    padding: 0;
    margin: 0;
    font-size: 14px !important;
}

:root{
    --accent: #4BD66E;
    --text-secondary: #555;
    --text-primary: #272323;
    --secondary-color: #10451D;
    --primary-color: #155C27;
}

/* Backgrounds */
.bg-primary{
    background-color: var(--primary-color) !important;
    color: white !important;
}

.text-primary{
    color: var(--primary-color) !important;
}

.bg-secondary{
    background-color: var(--secondary-color) !important;
    color: white;
}

/* Textos */
.text-accent{
    color: var(--accent);
    & a {
        text-decoration: none;
        color: var(--accent);
        cursor: pointer;
        font-weight: 700;
    }
}

.text-secondary{
    color: var(--text-secondary) !important;
}

.inter{
    font-family: "Inter", sans-serif;
}

.p-toast {
  width: 90vw !important;
  max-width: 400px !important;
}

.text-truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 200px; /* ajusta conforme a coluna */
}